<%- include('./partials/header.ejs') %>

<section class="packages-page">
  <div class="page-header">
    <h1>Our Travel Packages</h1>
    <p>Discover our wide range of curated experiences</p>
  </div>

  <div class="cards-container">
    <% if (packages && packages.length > 0) { %>
      <% packages.forEach(pkg => { %>
        <div class="card glass">
          <div class="card-body">
            <h3><%= pkg.title %></h3>
            <p class="destination"><i class="icon-map-pin"></i> <%= pkg.destination %></p>
            <p class="duration"><i class="icon-clock"></i> <%= pkg.duration %></p>
            <p class="description"><%= pkg.description %></p>
            <div class="card-footer">
              <span class="price">$<%= pkg.price %></span>
              <a href="/contact?package=<%= pkg._id %>" class="btn secondary-btn">Book Now</a>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="no-data glass">
        <p>There are currently no packages available.</p>
        <a href="/add-package" class="btn primary-btn mt-1">Add a Package</a>
      </div>
    <% } %>
  </div>
</section>

<%- include('./partials/footer.ejs') %>
